fastapi
uvicorn
pydantic
pymongo
elasticsearch
playwright
google-genai>=0.2.0
jinja2
pyyaml
pypdf
PyMuPDF
streamlit
requests
google-cloud-aiplatform
vertexai
beautifulsoup4
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
